# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Static Files
*.pdf
*.png
*.jpeg
*.svg
*.gif
*.tpc
*.bsp
*.BSP
*.tls
*.mat
*.npz

# Grace Files
*sandbox*.py
*/GNSSOrbits/*
*/graveyardOrbits/*
*/forcedOrbits/*

/tools/

# User Input
orbit_config.yaml
